// overrides for bootstrap variables
$navbar-margin-bottom:  0;
$navbar-border-radius:  0;
$navbar-header-background-color: #efefef;
$usage-info-code-background-color: #f9f2f4;
$viz-panel-header-height: 36px;

@import '{}/node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import '{}/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';

@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

// additional styles
html, body, .page-wrapper, .content-wrapper, .content-wrapper > .row,
.main, .main-content, .main-content-panel-wrapper {
  // this is an issue; most of these things have height 100% only at sm, md and lg
  // probably why xs setting is not working
  height: 100%;
}

.after-button {
  padding-top: 15px;
}

body {
  padding-top: $navbar-height;
}

.navbar-header {
  background-color: $navbar-header-background-color;
}

.navbar-nav > li {
  float: left;
}

.sidenav, .main {
  overflow-y: auto;
}

.sidenav .sidenav-content, .main .main-content {
  padding-top: 15px;
}

.sidenav .navbar {
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0;
  border-radius: 0;
  position: fixed;
  left: 0;
  width: inherit;
  z-index: 1030;
}

.sidenav .sidenav-content .breadcrumb {
  background-color: $navbar-header-background-color;
}

.panel.with-nav-tabs .panel-heading {
  padding: 5px 5px 0 5px;
}

.panel.with-nav-tabs .nav-tabs {
  border-bottom: none;
}

.ace_editor, .validation-messages {
  min-height: 350px;
  width: 100%;
}

.playground-chart-container, .designer-chart-container {
  height: 350px;
}

.validation-messages {
  padding-bottom: 15px;
}

pre {
  border-radius: 0px;
}

.usage-info .sections-container {
  position: relative;
}

.usage-info .row pre {
  border: 0px;
  background-color: $usage-info-code-background-color;
}

.usage-info .row pre.pre-scrollable {
  border: 1px solid #ddd;
  margin-right: 15px;
}

// .docs ul.sidebar-nav.toplevel > li {
//   height: 3em;
// }

.docs ul.second-level > li a {
  padding-left: 30px;
}

//.sidenav-content .docs .nav a,
.sidenav-content .docs .nav a {
  color: #777;
}
.sidenav-content .docs .nav a:hover,
.sidenav-content .docs .nav a:focus,
.sidenav-content .docs .nav .active > a {
  color: #555;
  background-color: #efefef;
}

.grid-stack-item-content > .panel {
  height: 100%;
  width: 100%;
  margin: 0px;
}

.grid-stack-item-content > .panel > .panel-heading {
  height: 36px;
  padding-top: 8px;
}

.grid-stack > .grid-stack-item > .grid-stack-item-content {
  overflow-y: hidden;
}

.grid-stack-item-content > .panel > .panel-body {
  @include calc(height, '100% - 36px') // panel header height...
}

.thumbnail .caption .word-wrap {
   white-space: pre-wrap;      /* CSS3 */
   white-space: -moz-pre-wrap; /* Firefox */
   white-space: -pre-wrap;     /* Opera <7 */
   white-space: -o-pre-wrap;   /* Opera 7 */
   word-wrap: break-word;      /* IE */
}

.sidenav-item {
  padding-top: 5px;
  padding-bottom: 5px;
}

/*==========  Mobile First Method  ==========*/
/* Extra Small Devices, Phones */
@media only screen and (min-width : $screen-xs-min) {
  .main .main-content {
    padding-bottom: $navbar-height;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : $screen-sm-min) {
  .main .main-content {
    padding-bottom: 0;
  }
  .sidenav .sidenav-content {
    padding-bottom: $navbar-height;
  }
  .row > .sidenav {
    height: 100%;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : $screen-md-min) {
  .usage-info .annotation-sections {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }

  .usage-info .code-sections {
    position: absolute;
    background-color: $usage-info-code-background-color;
    border-left: 1px solid #eee;
    top: 0;
    bottom: 0;
    right: 0;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : $screen-lg-min) {

}
