<div ng-if="mainContentCtrl.apibridge" class="main-content-panel-wrapper">

  <div class="col-md-12 main-content-panel">
    <div class="panel with-nav-tabs panel-default">
      <div class="panel-heading">
        <ul class="nav nav-tabs">
          <li ng-class="{active: mainContentCtrl.selectedTab === 'schema'}">
            <a ng-click="mainContentCtrl.selectedTab = 'schema'">
              Schema <i ng-if="! mainContentCtrl.wellDefinedJsonSchema" class="fa fa-exclamation-circle" aria-hidden="true" ng-style="{color: '#d9534f'}"></i></a>
          </li>
          <li ng-class="{active: mainContentCtrl.selectedTab === 'data'}">
            <a ng-click="mainContentCtrl.selectedTab = 'data'">
              Data <i ng-if="! mainContentCtrl.wellDefinedTestData" class="fa fa-exclamation-circle" aria-hidden="true" ng-style="{color: '#d9534f'}"></i>
            </a>
          </li>
          <li ng-class="{active: mainContentCtrl.selectedTab === 'validation'}">
            <a ng-click="mainContentCtrl.selectedTab = 'validation'">
              Validation <i ng-if="mainContentCtrl.reactiveValidatedData.hasError" class="fa fa-exclamation-circle" aria-hidden="true" ng-style="{color: '#d9534f'}"></i>
            </a>
          </li>
          <li class="pull-right" ng-if="mainContentCtrl.wellDefinedJsonSchema && mainContentCtrl.wellDefinedTestData">
            <a href="javascript:void(0);"><i class="fa fa-check-circle" aria-hidden="true" ng-style="{color: 'forestgreen'}"></i></a>
          </li>
        </ul>
      </div>
      <div class="panel-body">
        <div ng-if="mainContentCtrl.selectedTab === 'schema'">
          <form name="mainContentCtrl.schemaForm">
            <div ui-ace=mainContentCtrl.aceJsonSchemaOptions ng-model=mainContentCtrl.template.jsonSchema name="validationSchema"></div>
          </form>
        </div>
        <div ng-if="mainContentCtrl.selectedTab === 'data'">
          <form name="mainContentCtrl.dataForm">
            <div ui-ace=mainContentCtrl.aceTestDataOptions ng-model=mainContentCtrl.template.testData name="testData"></div>
          </form>
        </div>
        <div class="validation-messages" ng-if="mainContentCtrl.selectedTab === 'validation' && (mainContentCtrl.reactiveValidatedData)">
          <div class="alert alert-success" role="alert" ng-if="! mainContentCtrl.reactiveValidatedData.hasError">
            Valid Data
          </div>
          <div class="alert alert-danger" role="alert" ng-if="mainContentCtrl.reactiveValidatedData.hasError">
            Invalid Data
          </div>
        </div>
      </div>
    </div>
  </div>


  <form name="selectedDataSchemaForm" class="col-md-6">
    <div class="form-group" ng-class="{'has-error': selectedDataSchemaForm.newTemplateName.$dirty && selectedDataSchemaForm.newTemplateName.$invalid }">
      <label for="newTemplateName">Rename Template</label>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="new template"
        ng-model="mainContentCtrl.newTemplateName" name="newTemplateName" minlength=3 maxlength=12
        ng-model-options="{ debounce: 400 }">
        <span class="input-group-addon btn btn-default"
        ng-class="{'disabled': selectedDataSchemaForm.newTemplateName.$isEmpty(selectedDataSchemaForm.newTemplateName.$modelValue) || selectedDataSchemaForm.newTemplateName.$invalid || (selectedDataSchemaForm.newTemplateName.$modelValue === mainContentCtrl.template.name)}"
        ng-click="(selectedDataSchemaForm.newTemplateName.$invalid || mainContentCtrl.renameTemplate())"><i class="fa fa-arrow-circle-right"></i></span>
      </div>
      <div ng-messages="selectedDataSchemaForm.newTemplateName.$error" class="help-block">
        <div ng-message="minlength">Template name must have at least 3 characters</div>
      </div>
    </div>

    <div class="form-group">
      <div>
        <button class="btn btn-danger" ng-click="mainContentCtrl.brieflyShowAreYouSure()">Delete Template</button>
        <button ng-if="mainContentCtrl.showAreYouSure" class="btn btn-danger" ng-click="mainContentCtrl.deleteTemplate()">Click to Confirm</button>
      </div>
    </div>
  </form>
</div>
