<ol class="breadcrumb" ng-if="$ctrl.itemsControl.creatable() || $ctrl.itemsControl.selectedItem">
  <li ng-if="$ctrl.itemsControl.creatable()" ng-click="$ctrl.itemsControl.createItem()">
    <a href="javascript:void(0)" uib-tooltip="{{'Create ' + $ctrl.itemsControl.itemType}}" tooltip-placement="bottom-left"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
  </li>
  <li ng-if="$ctrl.itemsControl.selectedItem && $ctrl.itemsControl.clonable" ng-click="$ctrl.itemsControl.cloneItem()">
    <a href="javascript:void(0)" uib-tooltip="{{'Clone ' + $ctrl.itemsControl.itemType}}" tooltip-placement="bottom-left"><i class="fa fa-clone" aria-hidden="true"></i></a>
  </li>
  <li ng-if="$ctrl.itemsControl.selectedItem" ng-click="$ctrl.settingsToggle = ! $ctrl.settingsToggle">
    <a href="javascript:void(0)" uib-tooltip="{{$ctrl.itemsControl.itemType + ' Settings'}}" tooltip-placement="bottom-left"><i class="fa fa-edit" aria-hidden="true"></i></a>
  </li>
  <li ng-if="$ctrl.itemsControl.selectedItem && (! $ctrl.item.readOnly) && ($ctrl.itemControls.deletable())" ng-click="$ctrl.brieflyShowAreYouSure()">
    <a href="javascript:void(0)" uib-tooltip="{{'Delete ' + $ctrl.itemsControl.itemType}}" tooltip-placement="bottom-left"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>
  </li>
</ol>

<form name="sideNavForm" novalidate ng-if="$ctrl.item">
<div class="form-group" ng-if="$ctrl.items.length > 0">
  <label for="selectedItemId">Select {{$ctrl.itemsControl.itemType}}</label>
  <div class="radio" ng-repeat="item in $ctrl.items">
    <label>
      <input type="radio" ng-model="$ctrl.itemsControl.selectedId" value="{{item._id}}"
      ng-change="$ctrl.itemsControl.switchItem($ctrl.itemsControl.selectedId)"/>
      {{item.name}}
    </label>
  </div>
</div>

<div ng-if="$ctrl.item">
  <div ng-if="$ctrl.itemControls.readOnlyable && $ctrl.settingsToggle">
    <label>Readonly settings for {{$ctrl.itemControls.itemType}}</label>
    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="$ctrl.item.readOnly" ng-disabled="! $ctrl.itemControls.validItem()"
          ng-change="$ctrl.itemControls.updateItem()"> Read only
        </label>
      </div>
    </div>
  </div>

  <div class="form-group" ng-if="$ctrl.item && ! $ctrl.item.readOnly && $ctrl.settingsToggle"
  ng-class="{'has-error': sideNavForm.renamedItemName.$dirty && sideNavForm.renamedItemName.$invalid }">
  <label for="renamedItemName">Rename {{$ctrl.itemControls.itemType}}</label>
  <div class="input-group">
    <input type="text" class="form-control" placeholder="newest" ng-model="$ctrl.itemControls.newItemName" name="renamedItemName" minlength=1 maxlength=20>
    <span class="input-group-addon btn btn-default" ng-class="{'disabled': sideNavForm.renamedItemName.$isEmpty(sideNavForm.renamedItemName.$modelValue) || sideNavForm.renamedItemName.$invalid || (sideNavForm.renamedItemName.$modelValue === $ctrl.item.name)}"
    ng-click="(sideNavForm.renamedItemName.$isEmpty(sideNavForm.renamedItemName.$modelValue) || sideNavForm.newItemName.$invalid || $ctrl.itemControls.renameItem())"><i class="fa fa-arrow-circle-right"></i></span>
  </div>
  <div ng-messages="sideNavForm.newItemName.$error" class="help-block">
    <div ng-message="minlength">{{$ctrl.itemControls.itemType}} name must have at least 1 character</div>
  </div>
</div>

<div class="form-group" >
  <div>
    <button ng-if="$ctrl.showAreYouSure" class="btn btn-danger" ng-click="$ctrl.deleteItem()">Confirm Deletion</button>
  </div>
</div>
</div>
</form>
