<div class="main-content-panel-wrapper" ng-if="chartTemplateCtrl.chartTemplate">
  <div class="main-content-panel">
    <div class="panel with-nav-tabs panel-default">
      <div class="panel-heading">
        <ul class="nav nav-tabs">
          <li ng-class="{active: chartTemplateCtrl.readState.playground.chartTemplate === 'dataHandlers'}">
            <a ng-click="chartTemplateCtrl.readState.playground.chartTemplate = 'dataHandlers'">Data Handlers
              <i ng-if="! chartTemplateCtrl.validators.dataHandlers" class="fa fa-bug" aria-hidden="true" ng-style="{color: '#d9534f'}"></i>
            </a>
          </li>
          <li ng-class="{active: chartTemplateCtrl.readState.playground.chartTemplate === 'options'}">
            <a ng-click="chartTemplateCtrl.readState.playground.chartTemplate = 'options'">Options
              <i ng-if="! chartTemplateCtrl.validators.options" class="fa fa-bug" aria-hidden="true" ng-style="{color: '#d9534f'}"></i>
            </a>
          </li>
          <li ng-class="{active: chartTemplateCtrl.readState.playground.chartTemplate === 'css'}">
            <a ng-click="chartTemplateCtrl.readState.playground.chartTemplate = 'css'">CSS
              <i ng-if="! chartTemplateCtrl.validators.css" class="fa fa-bug" aria-hidden="true" ng-style="{color: '#d9534f'}"></i>
            </a>
          </li>
          <li ng-class="{active: chartTemplateCtrl.readState.playground.chartTemplate === 'visualization'}">
            <a ng-click="chartTemplateCtrl.readState.playground.chartTemplate = 'visualization'">Visualization</a>
          </li>
          <li ng-class="{active: chartTemplateCtrl.readState.playground.chartTemplate === 'usageInfo'}">
            <a ng-click="chartTemplateCtrl.readState.playground.chartTemplate = 'usageInfo'">Usage Info</a>
          </li>

          <li class="quick-buttons" ng-if="chartTemplateCtrl.readState.playground.chartTemplate === 'css'">
            <a uib-tooltip="Copy Template Id to Clipboard" tooltip-placement="left"
            ngclipboard ng-attr-data-clipboard-text="{{chartTemplateCtrl.visualization._id}}"
            ng-click="chartTemplateCtrl.brieflyShow('Template Id Copied')"
            href="javascript:void(0)">
              <i class="fa fa-clipboard" aria-hidden="true"></i>
              <span ng-if="chartTemplateCtrl.showBriefly">{{chartTemplateCtrl.showBriefly}}</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="panel-body" id="charttemplate">
        <div ng-if="chartTemplateCtrl.readState.playground.chartTemplate === 'dataHandlers'">
          <form name="chartTemplateCtrl.dataHandlers" ng-if="chartTemplateCtrl.chartTemplate">
            <div class="form-group">
              <label for="initFunction">Init Function</label>
              <div ui-ace="chartTemplateCtrl.aceJavaScriptOptions" ng-model="chartTemplateCtrl.chartTemplate.initFunction"
              valid-function required ng-model-options="{allowInvalid: true}"
              ng-readonly="chartTemplateCtrl.user.readOnly" name="initFunction">
              </div>
            </div>

            <hr />

            <label>Inputs</label>
            <button class="btn btn-primary btn-xs" ng-disabled="! chartTemplateCtrl.inputtable"
            ng-click="chartTemplateCtrl.createInput()">Add</button>

            <ul class="list-group">
              <li class="list-group-item" ng-repeat="input in chartTemplateCtrl.chartTemplate.inputs">
                <div class="form-group">
                  <label>Name</label>
                  <input type="text" class="form-control" ng-model="input.name" minlength=1 maxlength=20 required></input>
                </div>

                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" ng-model="input.optional"
                      ng-disabled="chartTemplateCtrl.user.readOnly"><strong>Optional</strong>
                    </label>
                  </div>
                </div>

                <div class="form-group">
                  <label>Dataset for {{input.name}}</label>
                  <select class="form-control" ng-model="input.datasetId"
                  ng-options="dataset._id as dataset.name for dataset in chartTemplateCtrl.playgroundDatasets"
                  ng-disabled="chartTemplateCtrl.user.readOnly">
                  </select>
                </div>

                <div class="form-group">
                  <label>Data Handler</label>
                  <div ui-ace="chartTemplateCtrl.aceJavaScriptOptions" ng-model="input.dataHandler"
                  valid-function required ng-model-options="{allowInvalid: true}"
                  ng-readonly="chartTemplateCtrl.user.readOnly">
                  </div>
                </div>

                <div class="form-group">
                  <button class="btn btn-warning btn-xs"
                  ng-click="chartTemplateCtrl.brieflyShowAreYouSure(input)">Delete</button>

                  <button ng-if="chartTemplateCtrl.showAreYouSure === input"
                  class="btn btn-danger btn-xs" ng-click="chartTemplateCtrl.deleteInput(input)">Confirm</button>
                </div>

              </li>
            </ul>

            <hr />

            <div class="form-group">
              <label for="cleanupFunction">Cleanup Function</label>
              <div ui-ace="chartTemplateCtrl.aceJavaScriptOptions" ng-model="chartTemplateCtrl.chartTemplate.cleanupFunction"
              valid-function required ng-model-options="{allowInvalid: true}"
              ng-readonly="chartTemplateCtrl.user.readOnly" name="cleanupFunction">
              </div>
            </div>

          </form>
        </div>

        <div ng-if="chartTemplateCtrl.readState.playground.chartTemplate === 'options'">
          <form name="chartTemplateCtrl.options" ng-if="chartTemplateCtrl.chartTemplate">
            <div class="form-group">
              <div ui-ace="chartTemplateCtrl.aceJavaScriptOptions" ng-model="chartTemplateCtrl.chartTemplate.options"
              valid-json ng-model-options="{allowInvalid: true}"
              ng-readonly="chartTemplateCtrl.user.readOnly" name="options">
              </div>
            </div>
          </form>
        </div>

        <div ng-if="chartTemplateCtrl.readState.playground.chartTemplate === 'css'">
          <form name="chartTemplateCtrl.css" ng-if="chartTemplateCtrl.chartTemplate">
            <div class="form-group">
              <div ui-ace="chartTemplateCtrl.aceJavaScriptOptions" ng-model="chartTemplateCtrl.chartTemplate.css"
              valid-css ng-model-options="{allowInvalid: true}"
              ng-readonly="chartTemplateCtrl.user.readOnly" name="css">
              </div>
            </div>
          </form>
        </div>

        <div ng-if="chartTemplateCtrl.readState.playground.chartTemplate === 'visualization'" ng-attr-id="{{chartTemplateCtrl.visualization._id}}">
          <visualization viz-object="chartTemplateCtrl.visualization"></visualization>
        </div>

        <div class="col-md-12" ng-if="chartTemplateCtrl.readState.playground.chartTemplate === 'usageInfo'">
        </div>
      </div>
    </div>
  </div>
</div>
