<div class="side-topic">
    <a href="javascript:void(0)" ui-sref="read.developer.playground.plugin"
    ui-sref-opts="{reload: 'read.developer.playground'}" class="user-control">
      <strong>PLUGINS&nbsp&nbsp<i class="fa fa-angle-double-right" aria-hidden="true"></i></strong>
    </a>
    &nbsp&nbsp{{sideNavCtrl.plugin.name}}
</div>

<hr class="divider" />

<div class="side-item" ng-if="sideNavCtrl.user.readOnly">
    <a href="javascript:void(0)" ui-sref="read.developer.playground.charttemplate"
    ui-sref-opts="{reload: 'read.developer.playground'}"><strong>TEMPLATES</strong></a>
    <a href="javascript:void(0)" class="user-control disabled"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
    <a href="javascript:void(0)" class="user-control disabled"><i class="fa fa-upload" aria-hidden="true"></i></a>
    <a href="javascript:void(0)" class="user-control disabled"><i class="fa fa-download" aria-hidden="true"></i></a>
    <a href="javascript:void(0)" class="user-control disabled"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>
</div>

<div class="side-topic selected" ng-if="! sideNavCtrl.user.readOnly">
  <div class="side-items">
    <strong>
      <a href="javascript:void(0)" ui-sref="read.developer.playground.charttemplate"
      ui-sref-opts="{reload: 'read.developer.playground'}" class="user-control">TEMPLATES</a>
      <span class="badge user-controls">
        <a href="javascript:void(0)" ng-click="sideNavCtrl.cloneChartTemplate()"
        ng-show="sideNavCtrl.chartTemplate && sideNavCtrl.clonableChartTemplate"
        uib-tooltip="Clone Chart Template"
        tooltip-placement="bottom"><i class="fa fa-clone" aria-hidden="true"></i></a>
        <a href="javascript:void(0)" ng-click="sideNavCtrl.createChartTemplate()"
        uib-tooltip="Create Chart Template" class="user-control"
        tooltip-placement="bottom"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
        <a href="javascript:void(0)" class="user-control" ngclipboard data-clipboard-text="{{sideNavCtrl.exportedStr}}"
        ng-click="sideNavCtrl.brieflyShowExported()"
        uib-tooltip="Export Chart Template to Clipboard" tooltip-placement="bottom"><i class="fa fa-upload" aria-hidden="true"></i></a>
        <a href="javascript:void(0)" class="user-control"
        ng-click="sideNavCtrl.importChartTemplate()" uib-tooltip="Import Chart Template"
        tooltip-placement="bottom"><i class="fa fa-download" aria-hidden="true"></i></a>
        <a href="javascript:void(0)" class="user-control" ng-show="sideNavCtrl.chartTemplate && sideNavCtrl.deletableChartTemplate"
        ng-click="sideNavCtrl.brieflyShowAreYouSure()"
        uib-tooltip="Delete Chart Template"
        tooltip-placement="bottom"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>
      </span>
      <span ng-if="sideNavCtrl.showExported" class="btn btn-success btn-xs">Chart Template exported</span>
      <button ng-if="sideNavCtrl.showAreYouSure" class="btn btn-danger btn-xs" ng-click="sideNavCtrl.deleteChartTemplate()">Confirm</button>
    </strong>
  </div>
</div>

<form name="sideNavForm" novalidate id="allcharttemplates">
  <div ui-sortable="sideNavCtrl.sortOptions" ng-model="sideNavCtrl.chartTemplates" class="sortable-list">
    <div ng-repeat="chartTemplate in sideNavCtrl.chartTemplates" class="sidenav-item sortable-item"
    ng-class="{'selected-item': sideNavCtrl.chartTemplate._id === chartTemplate._id}">
      <input type="text" class="form-control" ng-if="sideNavCtrl.chartTemplate._id !== chartTemplate._id"
      readonly ng-model="chartTemplate.name"
      ng-click="sideNavCtrl.switchChartTemplate(chartTemplate._id)"></input>
      <input type="text" class="form-control" ng-if="sideNavCtrl.chartTemplate._id === chartTemplate._id"
      ng-readonly="! chartTemplate.editable" ng-model="chartTemplate.name"
      minlength=1 maxlength=20 required
      ng-click="sideNavCtrl.setEditMode(chartTemplate)"
      ng-mouseleave="sideNavCtrl.unsetEditMode(chartTemplate)"></input>
    </div>
  </div>
</form>

<hr class="divider" />

<div class="side-topic">
    <a href="javascript:void(0)" ui-sref="read.developer.playground.dataset"
    ui-sref-opts="{reload: 'read.developer.playground'}" class="user-control">
      <strong>DATASETS&nbsp&nbsp<i class="fa fa-angle-double-right" aria-hidden="true"></i></strong>
    </a>
</div>
