<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="row">

      <div class="navbar-header hidden-xs col-sm-6 col-md-4 col-lg-3">
          <a class="navbar-brand" ui-sref="read.developer.home">READ</a>
          <span class="navbar-brand pull-right" ng-show="$ctrl.sidebar.present" ng-click="$ctrl.toggleSidebar()">
            <i class="fa fa-bars"></i>
          </span>
      </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="col-xs-12 col-sm-6 col-md-8 col-lg-9">
      <ul class="nav navbar-nav">
        <li class="hidden-sm hidden-md hidden-lg">
          <a href="javascript:void(0)" ui-sref="read.developer.home">READ</a>
        </li>

        <li class="hidden-sm hidden-md hidden-lg">
          <a href="javascript:void(0)" ng-show="$ctrl.sidebar.present" ng-click="$ctrl.sidebar.show = ! $ctrl.sidebar.show">
            <i class="fa fa-bars"></i>
          </a>
        </li>

        <li id="myapps"><a ui-sref="read.developer.app.dashboard.app"><span class="hidden-xs hidden-sm">My Apps</span> <i class="fa fa-dashboard"></i></a></li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="javascript:void(0)">
            <span class="hidden-xs hidden-sm">Playground</span> <i class="fa fa-wrench"></i> <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a ui-sref="read.developer.playground.dataschema">Data Schema</a></li>
            <li role="separator" class="divider"></li>
            <li ng-if="false" class="disabled"><a href="javascript:void(0)">ChartJS</a></li>
            <li><a ui-sref="read.developer.playground.viz.nvd3">NVD3</a></li>
            <li><a ui-sref="read.developer.playground.viz.leaflet">Leaflet</a></li>
            <li ng-if="false" class="disabled"><a href="javascript:void(0)">D3</a></li>
            <li ng-if="false" class="disabled"><a href="javascript:void(0)">DCJS</a></li>
            <li ng-if="false" role="separator" class="divider"></li>
            <li ng-if="false" class="disabled"><a href="javascript:void(0)">User Control</a></li>
          </ul>
        </li>

        <li id="tour" ng-click="$ctrl.startTour()"><a href="javascript:void(0)"><span class="hidden-xs hidden-sm">Tour</span> <i class="fa fa-play-circle"></i></a></li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="javascript:void(0)">
            <span class="hidden-xs hidden-sm">Docs</span> <i class="fa fa-book"></i> <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a target="_blank" ui-sref="read.docs.tutorial">Tutorial</a></li>
            <li><a target="_blank" ui-sref="read.docs.helptopics">Help Topics</a></li>
            <li ng-if="false" class="disabled"><a href="javascript:void(0)">Guide</a></li>
            <li ng-if="false" class="disabled"><a href="javascript:void(0)">API Reference</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.row -->
  </div><!-- /.container-fluid -->

  <a target="_blank" href="https://github.com/IBMStreams/streamsx.visualization" ng-if="$ctrl.user.readOnly">
    <img style="position: absolute; top: 0; right: 0; border: 0;"
    src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67"
    alt="Fork me on GitHub"
    data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png">
  </a>
</nav>
