<div>hello</div>
<!-- <div ng-if="mainContentCtrl.item" class="main-content-panel-wrapper">
  <div class="main-content-panel">
    <div class="panel with-nav-tabs panel-default">
      <div class="panel-heading">
        <ul class="nav nav-tabs">
          <li ng-class="{active: mainContentCtrl.readState.mainContentSelectedTab.dataSchema === 'schema'}">
            <a ng-click="mainContentCtrl.readState.mainContentSelectedTab.dataSchema = 'schema'">
              Schema <i ng-if="! mainContentCtrl.validators.jsonSchema" class="fa fa-bug" aria-hidden="true" ng-style="{color: '#d9534f'}"></i></a>
          </li>
          <li ng-class="{active: mainContentCtrl.readState.mainContentSelectedTab.dataSchema === 'data'}">
            <a ng-click="mainContentCtrl.readState.mainContentSelectedTab.dataSchema = 'data'">
              Data <i ng-if="! mainContentCtrl.validators.testData" class="fa fa-bug" aria-hidden="true" ng-style="{color: '#d9534f'}"></i>
            </a>
          </li>
          <li ng-class="{active: mainContentCtrl.readState.mainContentSelectedTab.dataSchema === 'validation'}">
            <a ng-click="mainContentCtrl.readState.mainContentSelectedTab.dataSchema = 'validation'">
              Validation <i ng-if="! mainContentCtrl.lastDataObject.isData" class="fa fa-times-circle" aria-hidden="true" ng-style="{color: '#d9534f'}"></i>
              <i ng-if="mainContentCtrl.lastDataObject.isData" class="fa fa-check-circle" aria-hidden="true" ng-style="{color: 'forestgreen'}"></i>
            </a>
          </li>
        </ul>
      </div>

      <div class="panel-body">
        <div ng-if="mainContentCtrl.readState.mainContentSelectedTab.dataSchema === 'schema'">
          <form name="mainContentCtrl.schemaForm">
            <div class="form-group">
            <label for="validationSchema">JSON Schema</label>
              <div ui-ace="mainContentCtrl.aceJavaScriptOptions" ng-model="mainContentCtrl.item.jsonSchema"
              valid-json ng-model-options="{allowInvalid: true}"
              ng-readonly="mainContentCtrl.user.readOnly" name="validationSchema"></div>
            </div>
          </form>
        </div>

        <div ng-if="mainContentCtrl.readState.mainContentSelectedTab.dataSchema === 'data'">
          <form name="mainContentCtrl.dataForm">
            <div class="form-group">
            <label for="testData">Data</label>
              <div ui-ace="mainContentCtrl.aceJavaScriptOptions" ng-model="mainContentCtrl.item.testData"
              valid-json ng-model-options="{allowInvalid: true}"
              ng-readonly="mainContentCtrl.user.readOnly" name="testData"></div>
            </div>
          </form>
        </div>

        <div ng-if="mainContentCtrl.readState.mainContentSelectedTab.dataSchema === 'validation' && (mainContentCtrl.lastDataObject)">
          <div class="alert alert-success" role="alert" ng-if="mainContentCtrl.lastDataObject.isData">
            Valid Data
          </div>
          <div class="alert alert-danger" role="alert" ng-if="! mainContentCtrl.lastDataObject.isData">
            {{mainContentCtrl.lastDataObject.error}}
          </div>
        </div>
      </div>
    </div>
  </div>

</div> -->
