  <ol class="breadcrumb" id="itembreadcrumb" ng-if="$ctrl.user.readOnly">
    <li>
      <a href="javascript:void(0)" ui-sref="read.developer.playground.plugins" class="btn">Plugins</a>
      <a href="javascript:void(0)" class="btn disabled"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
    </li>
    <li>
      <a href="javascript:void(0)" class="btn disabled"><i class="fa fa-upload" aria-hidden="true"></i></a>
    </li>
    <li>
      <a href="javascript:void(0)" class="btn disabled"><i class="fa fa-download" aria-hidden="true"></i></a>
    </li>
    <li>
      <a href="javascript:void(0)" class="btn disabled"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>
    </li>
  </ol>

  <ol class="breadcrumb" ng-if="! $ctrl.user.readOnly">
    <li>
      <a href="javascript:void(0)" ui-sref="read.developer.playground.plugins" class="btn">Plugins</a>
    </li>
    <li ng-click="$ctrl.itemsControl.createItem()">
      <a href="javascript:void(0)"
      uib-tooltip="Create Plugin"
      tooltip-placement="bottom-left"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
    </li>
    <li ngclipboard data-clipboard-text="{{$ctrl.exportedStr}}" ng-click="$ctrl.brieflyShowExported()">
      <a href="javascript:void(0)" uib-tooltip="Export Plugin to clipboard" tooltip-placement="bottom-left"><i class="fa fa-upload" aria-hidden="true"></i></a>
    </li>
    <li ng-click="$ctrl.importPlugin()">
      <a href="javascript:void(0)" uib-tooltip="Import Plugin" tooltip-placement="bottom-left"><i class="fa fa-download" aria-hidden="true"></i></a>
    </li>
    <li ng-show="$ctrl.selectedPlugin && $ctrl.deletablePlugin()" ng-click="$ctrl.brieflyShowAreYouSure()">
      <a href="javascript:void(0)" uib-tooltip="Delete Plugin"
      tooltip-placement="bottom-left"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>
    </li>
    <li ng-if="$ctrl.showExported">
      <span class="btn btn-success btn-xs">Plugin exported</span>
    </li>
    <li ng-if="$ctrl.showAreYouSure">
      <button class="btn btn-danger btn-xs" ng-click="$ctrl.deleteItem()">Confirm</button>
    </li>

    <!-- Below is only to preserve space -->
    <!-- <li class="space-preserver ng-hide">
      <a href="javascript:void(0)"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>
    </li> -->
  </ol>

    <ol class="breadcrumb" id="itembreadcrumb">
      <li>
        <a href="javascript:void(0)" ui-sref="read.developer.playground.charttemplates" class="btn">Chart Templates</a>
      </li>
    </ol>
