// overrides for bootstrap variables
$navbar-margin-bottom:  0;
$navbar-border-radius:  0;
$navbar-header-background-color: #900000;
$usage-info-code-background-color: #f9f2f4;
$viz-panel-heading-height: 36px;
$nav-links-background-color: #dd0404;
$sidenav-background-color: #fff5f5;
$panel-heading-background-color: #fff9f9;

@import '{}/node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import '{}/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';

@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

// additional styles
html, body, .page-wrapper, .content-wrapper > .row,
.main, .main-content, .main-content-panel-wrapper {
  // this is an issue; most of these things have height 100% only at sm, md and lg
  // probably why xs setting is not working
  height: 100%;
}

.content-wrapper {
  @include calc(height, '100% - 1.43em') // content wrapper height
}

.after-button {
  padding-top: 15px;
}

body {
  padding-top: $navbar-height;
}

.navbar-header {
  background-color: $navbar-header-background-color;
}

.navbar-nav > li {
  float: left;
}

.nav-tabs > li > a:hover {
  background-color: #ffeeee;
}

.nav-tabs > li.quick-buttons {
  float: right;
}

.nav-tabs > li.quick-buttons a {
  background-color: #ffeeee;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.navbar-brand {
  font-size: 23px;
  line-height: 23px;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-brand:focus {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-brand:hover {
    color: #000000;
}

.sidenav, .main {
  overflow-y: auto;
}

.sidenav .sidenav-content, .main .main-content {
  padding-top: 15px;
}

.sidenav .navbar {
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0;
  border-radius: 0;
  position: fixed;
  left: 0;
  width: inherit;
  z-index: 1030;
}

.sidenav .sidenav-content .breadcrumb.secondary {
  margin-top: 15px;
}

.sidenav .sidenav-content .breadcrumb a.btn {
  padding: 0px;
}

.sidenav hr.divider {
  margin-top: 15px;
  margin-bottom: 15px;
  border-top: 1px solid #eac0c0;
}

.side-topic {
  height: 35px;
  display: flex;
  align-items: center;
}

.side-items div.lead {
  display: flex;
  align-items: center;
}

a.user-control {
  text-decoration: none;
}

.side-topic .side-items .badge.user-controls {
  background-color: $sidenav-background-color;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid #eac0c0;
}

.side-topic .side-items .user-controls .user-control {
  padding-left: 3px;
  padding-right: 3px;
}

.panel.with-nav-tabs .panel-heading {
  padding: 5px 5px 0 5px;
  background-color: $panel-heading-background-color;
}

.panel.with-nav-tabs .nav-tabs {
  border-bottom: none;
}

.ace_editor, .validation-messages {
  min-height: 350px;
  width: 100%;
}

.playground-chart-container, .designer-chart-container {
  height: 350px;
}

.validation-messages {
  padding-bottom: 15px;
}

pre {
  border-radius: 0px;
}

.usage-info .sections-container {
  position: relative;
}

.usage-info .row pre {
  border: 0px;
  background-color: $usage-info-code-background-color;
}

.usage-info .row pre.pre-scrollable {
  border: 1px solid #ddd;
  margin-right: 15px;
}

.docs ul.second-level > li a {
  padding-left: 30px;
}

.sidenav.navbar-default {
  background-color: $sidenav-background-color;
}

.nav-links {
  background: #dc2430; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #02bdac , #dc2430); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #02bdac , #dc2430); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  // background-color: $nav-links-background-color;
  // background-image: linear-gradient(to right, $nav-links-background-color, #44018e);
}

.space-preserver.ng-hide {
  visibility: hidden!important;
  display: inline-block!important;
}

visualization {
  width: 100%;
  display: block;
}

.grid-stack-item-content > .panel {
  height: 100%;
  width: 100%;
  margin: 0px;
}

.grid-stack-item-content > .panel > .panel-heading {
  height: 36px;
  padding-top: 8px;
}

.grid-stack > .grid-stack-item > .grid-stack-item-content {
  overflow-y: hidden;
}

.grid-stack-item-content > .panel > .panel-body {
  @include calc(height, '100% - 38px') // panel header height...
  padding: 0px;
}

.grid-stack-item-content visualization {
  height: 100%;
}

.thumbnail .caption .word-wrap, .usage-info .word-wrap {
   white-space: pre-wrap;      /* CSS3 */
   white-space: -moz-pre-wrap; /* Firefox */
   white-space: -pre-wrap;     /* Opera <7 */
   white-space: -o-pre-wrap;   /* Opera 7 */
   word-wrap: break-word;      /* IE */
}

.sidenav-item input {
  box-shadow: none;
}

.sidenav-item input.form-control[readonly] {
  background: rgba(0,0,0,0.0);
  border: none;
  color: #a08282;
}

.sidenav-item input.form-control[readonly]:hover {
  color: #b73333;
  border: 1px solid #eac0c0;
}

.sidenav-item.selected-item input[readonly] {
  background: rgba(0,0,0,0.0);
  border: 1px solid #eac0c0;
  color: #b73333;
}

.sidenav-item.selected-item input:not([readonly]) {
  background-color: #ffffff;
}

a.user-control {
  color: #b73333;
}

.angular-leaflet-map .legend {
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(255,255,255, 0.9);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 6px 8px;
    width: 180px;
    line-height: 18px;
    color: #555;
}

.angular-leaflet-map .legend i {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

/* Correct URL paths for leaflet css */
.leaflet-control-layers-toggle {
	background-image: url(/bower_components/leaflet/dist/images/layers.png) !important;
	}
.leaflet-retina .leaflet-control-layers-toggle {
	background-image: url(/bower_components/leaflet/dist/images/layers-2x.png) !important;
  }


/* Correct URL paths for glyphicons */
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.eot');
    src: url('bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.eot?') format('embedded-opentype'),
      url('bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.woff2') format('woff2'),
      url('bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.woff') format('woff'),
      url('bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
      url('bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.svg') format('svg');
}

/*==========  Mobile First Method  ==========*/
/* Extra Small Devices, Phones */
@media only screen and (min-width : $screen-xs-min) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : $screen-sm-min) {
  .main .main-content {
    padding-bottom: 0;
  }
  .row > .sidenav {
    height: 100%;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : $screen-md-min) {
  .usage-info .annotation-sections {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }

  .usage-info .code-sections {
    position: absolute;
    background-color: $usage-info-code-background-color;
    border-left: 1px solid #eee;
    top: 0;
    bottom: 0;
    right: 0;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : $screen-lg-min) {

}
