<form name="sideNavForm" novalidate ng-if="$ctrl.item">
  <div class="form-group" ng-if="$ctrl.items.length > 0">
    <label for="selectedItemId">Select {{$ctrl.itemsControl.itemType}}</label>
    <div ng-repeat="_item in $ctrl.items">
      <div class="input-group sidenav-item" ng-click="$ctrl.itemsControl.switchItem(_item._id)">
        <span class="input-group-addon" ng-if="_item._id !== $ctrl.itemsControl.selectedId">
          <i class="fa fa-check" aria-hidden="true" ng-style="{visibility: 'hidden'}"></i>
        </span>

        <span class="input-group-addon" ng-if="_item._id === $ctrl.itemsControl.selectedId">
          <i class="fa fa-check" aria-hidden="true"></i>
        </span>

        <input type="text" class="form-control" readonly ng-model="_item.name"></input>
      </div>
    </div>
  </div>
</form>
