<div class="panel with-nav-tabs panel-default" ng-controller="leafletVizDesignCtrl as leafletVizDesignCtrl">
  <div class="panel-heading">
    <ul class="nav nav-tabs">
      <li ng-class="{active: leafletVizDesignCtrl.readState.mainContentSelectedTab.designer.leaflet === 'basicOptions'}">
        <a ng-click="leafletVizDesignCtrl.readState.mainContentSelectedTab.designer.leaflet = 'basicOptions'">Basic Options</a>
      </li>
      <li ng-class="{active: leafletVizDesignCtrl.readState.mainContentSelectedTab.designer.leaflet === 'usageInfo'}">
        <a ng-click="leafletVizDesignCtrl.readState.mainContentSelectedTab.designer.leaflet = 'usageInfo'">Usage Info</a>
      </li>
    </ul>
  </div>

  <div class="panel-body">
    <div class="row" ng-if="leafletVizDesignCtrl.readState.mainContentSelectedTab.designer.leaflet !== 'usageInfo'">
      <div class="col-md-5">
        <div ng-if="leafletVizDesignCtrl.readState.mainContentSelectedTab.designer.leaflet === 'basicOptions'">
            <form name="leafletVizDesignCtrl.dataForm">
              <div class="form-group">
                <label for="template">Chart Type</label>
                <select class="form-control" ng-model="designerCtrl.visualization.templateId" name="template"
                ng-options="template._id as template.name group by template.pluginType for template in designerCtrl.templates"
                ng-change="designerCtrl.updateChartTypeAndReload()">
                </select>
              </div>
            </form>
        </div>
      </div>

      <div class="col-md-7">
        <div class="designer-chart-container" dimensions="designerCtrl.dimensions">
          <visualization visualization="designerCtrl.reactiveVisualization" dim="designerCtrl.dimensions" ng-if="designerCtrl.ready"></visualization>
        </div>
      </div>
    </div>

    <div ng-if="leafletVizDesignCtrl.readState.mainContentSelectedTab.designer.leaflet === 'usageInfo'" >
      <div ng-bind-html="leafletVizDesignCtrl.template.usageInfo"></div>
    </div>
  </div>
</div>
