<ol class="breadcrumb">
  <li ng-if="dashboardMainContentCtrl.readState.mainContentSelectedTab.dashboard !== 'app'"><a ui-sref="read.developer.app.dashboard.app">Apps</a>
  </li>
  <li ng-if="dashboardMainContentCtrl.readState.mainContentSelectedTab.dashboard === 'app'">Apps</li>

  <li ng-if="dashboardMainContentCtrl.readState.mainContentSelectedTab.dashboard !== 'dashboard'"><a ui-sref="read.developer.app.dashboard.dashboard">Dashboards</a>
  </li>
  <li ng-if="dashboardMainContentCtrl.readState.mainContentSelectedTab.dashboard === 'dashboard'">Dashboards</li>

  <li ng-if="dashboardMainContentCtrl.readState.mainContentSelectedTab.dashboard !== 'dataset'"><a ui-sref="read.developer.app.dashboard.dataset">Datasets</a>
  </li>
  <li ng-if="dashboardMainContentCtrl.readState.mainContentSelectedTab.dashboard === 'dataset'">Datasets</li>

  <li ng-if="dashboardMainContentCtrl.readState.mainContentSelectedTab.dashboard !== 'designer'"><a ui-sref="read.developer.app.dashboard.designer">Visualizations</a>
  </li>
  <li ng-if="dashboardMainContentCtrl.readState.mainContentSelectedTab.dashboard === 'designer'">Visualizations</li>
</ol>

<div class="alert alert-danger" role="alert" ng-if="! dashboardMainContentCtrl.app">
  Please create an app
</div>

<div ng-if="dashboardMainContentCtrl.app">
  <div ui-view="main"></div>
</div>
