<div ng-controller="appCtrl as appCtrl">
  <div ng-if="appCtrl.app">
    <form name="appCtrl.privateAppForm" novalidate>
      <div class="form-group">
        <label>Settings for App Sharing</label>
        <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="appCtrl.app.private" ng-disabled="appCtrl.user.readOnly"> Private
            </label>
          </div>
        </div>
      </div>

      <div class="form-group" ng-if="! appCtrl.app.private">
        <label>Public Link for App</label>
        <div class="input-group col-md-6">
          <input type="url" class="form-control" ng-model="appCtrl.url" readonly name="appURL" id="appURL">
          <span class="input-group-addon btn btn-default" ngclipboard data-clipboard-target="#appURL">
            <i class="fa fa-clipboard"></i>
          </span>
        </div>
      </div>

    </form>

    <hr />

    <form name="globalConfigForm" novalidate>
      <div class="form-group">
        <div class="input-group col-md-6">
          <label>READ.Sharing service URL </label>
          <i ng-if="! globalConfigForm.$valid" class="fa fa-bug" aria-hidden="true" ng-style="{color: '#d9534f'}"></i>
          <div>
            <input type="url" class="form-control" placeholder="http://localhost:3002/"
            ng-readonly="appCtrl.user.readOnly"
            ng-model="appCtrl.user.shareServiceURL"
            name="shareServiceURL" required ng-change="(globalConfigForm.shareServiceURL.$invalid || appCtrl.updateUser())">
          </div>
        </div>
      </div>
    </form>

  </div>
</div>
